/*  Style for the Simon Game  */

/* Game Board */
body {
  text-align: center;
  background-color: #1A374D;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin:  5%;
  color: #B1D0E0;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 15px;
  display: inline-block;
  height: 120px;
  width: 120px;
  border: 7px solid black;
  
}

.red {
  background-color: red;
  border-radius: 0 20% 0 0;
}

.green {
  background-color: green;
  border-radius: 20% 0 0 0;
}

.blue {
  background-color: blue;
  border-radius: 0 0 20% 0;
}

.yellow {
  background-color: yellow;
   border-radius: 0 0 0 20%;
}


/*  Game Play   */
.pressed {
  box-shadow: 0 0 20px #406882;
  background-color: #B1D0E0;
}


/*  Game Over   */
.game-over {
  background-color: red;
  opacity: 0.8;
}
